<!-- bookmarks.html -->
<div ng-controller="BookmarksController">
    <h2>Bookmarked Articles</h2>

    <div ng-if="bookmarkedArticles.length === 0">
        <p>No articles bookmarked yet.</p>
    </div>

    <ul>
        <li ng-repeat="article in bookmarkedArticles">
            <div class="article-content">
                <div ng-if="article.urlToImage">
                    <img ng-src="{{ article.urlToImage }}" alt="Article Image" class="article-image" />
                </div>
                <div class="article-text">
                    <h2>{{ article.title }}</h2>
                    <p>{{ article.description }}</p>
                    <a href="{{ article.url }}" target="_blank">Read more</a>
                    <button ng-click="removeBookmark(article)" class="remove-bookmark-btn">Remove</button>
                </div>
            </div>
        </li>
    </ul>
</div>
